// bower:scss
// endbower
$custom-red: #cf2751;
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

/* header */
.header-container {
  h1 {
    margin: 0;
  }
  // logo
  img {
    transform: translateY(30px);
  }
}

/* nav */
.nav-container {
  background: $custom-red;
  padding: 15px 0;
  ul {
    margin: 0;
    text-align: center;
    width: 100%;
    display: none;
    li {
      list-style: none;
      display: block;
      padding: 5px 0;
      a {
        color: #fff;
        text-decoration: none;
        &:hover {
          color: #1198c6;
        }
      }
    }
  }
}
.mobile-menu-toggle {
  position: absolute;
  right: 20px;
  top: -14px;
  background: none;
  border: none;
  cursor: pointer;
  .fa {
    font-size: 26px;
    color: #fff;
  }
}

.food-list {
  margin: 0;
  padding: 0;
  // food-list__item
  &__item {
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    h2 {
      color: #d2345c;
      margin: 0;
      font-family: 'Lobster', cursive;
    }
    // name and food type
    .description {
      padding: 15px;
      position: relative;
    }
    .food-type {
      position: absolute;
      top: 17px;
      right: 15px;
      color: #999;
    }
    // UI - buttons
    .ui {
      padding: 15px;
    }
    button {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 20px;
      padding: 1px;
    }
    .love-btn {
      color: #e2e2e2;
      &:hover { color: $custom-red; }
    }
    .share-btn {
      float: right;
    }
  }

  li {
    list-style: none;
  }
  .image {
    overflow: hidden;
    max-height: 235px;
    img {
      will-change: transform;
      transition: transform 400ms linear;
      max-width: 100%;
      &:hover {
        transform: scale(1.08);
      }
    }
  }
}

.footer-container {
  border-top: solid 4px $custom-red;

  .social-links {
    padding: 20px;
    margin: 0 auto;
    li {
      list-style: none;
      display: inline; 
      margin: 0 12px;
    }
    a {
      color: #fff;
      &:hover {
        color: $custom-red;
      }
    }
  }
}

.wrapper {
  margin: 0 auto;
  padding: 0 20px;
}
.relative {
  position: relative;
}
/* Simple grid Flex based */
.grid, .wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1180px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.grid .unit {
  width: 100%;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 480px) {
  .grid .unit {
    max-width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .grid .unit {
    max-width: 33.333%;
  }
  .nav-container {
    ul {
      text-align: right;
      display: block !important;
      li { 
        margin-left: 20px;
        margin-right: 5px;
        display: inline;
      }
    }
  }
  .mobile-menu-toggle {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .grid, .wrapper {
    max-width: 1440px;
  }
}



/* Gradients */

.blue-gradient-bg {
  /* IE10+ */ 
background-image: -ms-linear-gradient(top, #1198C6 0%, #00608B 80%, #005E88 100%);
/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #1198C6 0%, #00608B 80%, #005E88 100%);
/* Opera */ 
background-image: -o-linear-gradient(top, #1198C6 0%, #00608B 80%, #005E88 100%);
/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1198C6), color-stop(80, #00608B), color-stop(100, #005E88));
/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #1198C6 0%, #00608B 80%, #005E88 100%);
/* W3C Markup */ 
background-image: linear-gradient(to bottom, #1198C6 0%, #00608B 80%, #005E88 100%);
}